<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="nav-md">
      <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/home" class="site_title"><i class="fa fa-paw"></i> <span>MY PHARMACY</span></a>
            </div>
<app-sidebar></app-sidebar>
          </div>
        </div>
        <app-topnav></app-topnav>
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>Unaccepted Pharmacies</h3>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="row">
            <div class="x_panel">
              <div class="x_content">
                <div class="table">
                  <div class="col-md-3">
                    <label for="Name">Name</label>
                  </div>
                  <div class="col-md-4">
                    <label for="Email">Email</label>
                  </div>
                  <div class="col-md-2">
                    <label for="Type">Category</label>
                  </div>
                  <div class="col-md-2">
                    <label for="Accept">Accept</label>
                  </div>
                  <br><br>
                  <div *ngFor="let x of allpharma; let in=index">
                    <div class="col-md-3">
                      <label for="Name">{{x.name}}</label>
                    </div>
                    <div class="col-md-4">
                      <label for="Email">{{x.email}}</label>
                    </div>
                    <div class="col-md-2">
                      <select required class="form-control" name="type" [(ngModel)]="pharmacategory[in]">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <input type="button" (click)="Onacceptpharma(x.email,in)" value="Accept" class="btn btn-primary">
                    </div>
                    <br><br>
                  </div>
                </div>

              </div>
            </div>


            <div class="clearfix"></div>

          </div>
        </div>
      </div>
      </div>
      </div>
      <!-- /page content -->
</body>

</html>