<body class="nav-md">
      <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/home" class="site_title"><i class="fa fa-paw"></i> <span>MY PHARMACY</span></a>
            </div>
<app-sidebar></app-sidebar>
          </div>
        </div>
        <app-topnav></app-topnav>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Chart Demo</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div style="display: block;">
                                <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 10px">
                            <table class="table table-responsive table-condensed">
                                <tr>
                                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                                </tr>
                                <tr *ngFor="let d of lineChartData">
                                    <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                                </tr>
                            </table>
                            <button (click)="randomize()">CLICK</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
</body>